<%- include('partials/header.ejs'); -%>
<div class="px-3 py-2 border-bottom mb-3">
    <div class="container d-flex flex-wrap justify-content-center">
      <div class="text-end">
        <a type="button" class="btn btn-primary" href="/books/new">Add Book</a>
      </div>
    </div>
</div>


<div class="container justify-content-center d-flex flex-wrap">
 
  <div class="w-25 mx-3 my-2 border ">
    <div class="p-3 text-center">
      <h1 class="display-6 fw-bold text-body-emphasis">Book title</h1>
      <p><em>Author name</em></p>
      <p class="lead mb-4">Good book, it hcnages a litle bit how the story is centered in Ciri</p>
      <div>
        <p class="border">Score 10/10</p>
        <p ><small>Read at 10/10/1000</small></p>
      </div>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Edit</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Delete</button>
      </div>
    </div>
  </div>
 
  
</div>


<%- include('partials/footer.ejs'); -%>